body{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px 128px;
    background-color: #1F2937;
    flex-grow: 1;
    color: white;
}

.header-title{
    padding: 16px 0px;
}

.hero-container{
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 0 128px 64px 128px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-title-and-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-title{
    font-size: 36px;
    width: 300px;
}

.hero-text{
    font-size: 16px;
    width: 500px;
    margin: 8px 0px;
}

.hero-button{
    display: flex;
    flex-grow: 0;
    font-size: 16px;
    background-color: #3882F6;
    color: white;
    border: none;
    text-align: center;
    border-radius: 4px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
}

.hero-image{
    width: 250px;
    height: auto;
}

.info-container{
    margin: 64px;
    border-radius: 16px;
    padding: 64px 128px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-title{
    font-weight: bold;
    font-size: 26px;
    display: flex;
    margin-bottom: 64px;
}

.text-for-image{
    width: 160px;
    margin-top: 16px;
    color: rgb(79, 79, 79);
}

.info-image{
    width: 128px;
    height: 128px;
    border-radius: 8px;
}

.info-container-sub{
    display: flex;
    gap: 64px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 64px 480px;
    text-align: center;
    flex-grow: 1;
}

.quote{
font-size: 36px;
}

.quote-author{
    display: flex;
    padding: 16px;
}

.footer{
    background-color: grey;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    gap: 32px;
    list-style: none;
    color: #F9FAF8;
}